*{
	margin:0;
	left:0;
	padding:0;
    font-family: "Raleway",Calibri,Arial,sans-serif;
}



 .opacity{
    
    
    width: 100%;
    position: absolute;
    height: 650px;
}

.home-screen {
    width: 400px;
   
    position:absolute;
    left: 0;
    top:20px;

}